<li class="media col-md-6 col-lg-4">
<!-- <div class="thumbnail">
	<img class="media-object" src="app/img/faces/3.jpg">
</div>    -->  

</li>
<li class="media col-md-6 col-lg-4">
<!-- <div class="thumbnail">
  <img class="media-object" src="app/img/faces/3.jpg">
</div>    -->  
<div class="media-heading">
  hello
  <h3>
        {{this.data.0.name}}
        <small>
          <a href="#contacts/edit/1"><span class="glyphicon glyphicon-pencil"></span></a>
          <a href="#contacts/delete/1" class="delete-contract">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </small>
  </h3>
</div>
<div class="media-body">
  <dl>
      <dt>Phone Number:</dt>
      <dd>{{this.data.0.tel}}</dd>
      <dt>Email:</dt>
      <dd>{{this.data.0.email}}</dd>
  </dl>
  </div>
<hr>
</li>
<li class="media col-md-6 col-lg-4">
<!-- <div class="thumbnail">
  <img class="media-object" src="app/img/faces/3.jpg">
</div>    -->  
<div class="media-heading">
  hello
  <h3>
        {{this.data.0.name}}
        <small>
          <a href="#contacts/edit/1"><span class="glyphicon glyphicon-pencil"></span></a>
          <a href="#contacts/delete/1" class="delete-contract">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </small>
  </h3>
</div>
<div class="media-body">
  <dl>
      <dt>Phone Number:</dt>
      <dd>{{this.data.0.tel}}</dd>
      <dt>Email:</dt>
      <dd>{{this.data.0.email}}</dd>
  </dl>
  </div>
<hr>
</li>